<li class="span2">
	<div class="thumbnail" data-item-id="{{id}}">
		<a href="{{clickthroughURL}}">
			<div class="img-wrapper">
				<img src="{{src}}" alt="{{title}}"/>
			</div>
			<div class="caption"><p class="hideOverflow">{{title}}</p></div>
		</a>
	</div>
</li>