{{#if photo.length}}
    <div class="pagination pagination-large pagination-centered">
        <ul>
            {{#pagination currentPage perpage totalPages maxPages paginationLinksEdge paginationLinksAdjacent '»' '«'}}
                {{> template_partials_pagElement}}
            {{else}}
                {{> template_partials_separator}}
            {{/pagination}}
        </ul>
        <div class="pagination-footer">
            <p class="muted">{{total}} results &mdash; page {{currentPage}} of {{totalPages}} (showing first {{maxPages}} pages)</p>
        </div>
    </div>
{{/if}}